# Virtual Environment
venv/
biomed_ner_env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Model Checkpoints
model/

# Logs
*.log